Introduction to Python

Q. Supppose the store sold an Apple iphone (4GB, 128GB) for $900. Store this information in the variables price, brand, ram, and storage.

In [ ]:
# store the price in dollars of the mobile in variable 'price'
price = 900
# print the value saved in the variable 'price'
print("The price of the mobile is $", price, sep="")

The price of the mobile is $900

In [ ]:
# store the brand name of the mobile in variable 'brand'.
brand = "Apple"
# print the value saved in the variable 'brand'
print("The brand of the mobile is", brand)

The brand of the mobile is Apple

In [ ]:
# store the RAM (in GB) of the mobile in variable 'ram'
ram = 4
# print the value saved in the varaible 'ram'
print("The RAM of the mobile is", ram,"GB")

The RAM of the mobile is 4 GB

In [ ]:
# store the internal storage (in GB) of the mobile in variable 'storage'
storage = 128
# print the value saved in the varaible 'storage'
print("The internal storage of the mobile is", storage, "GB")

The internal storage of the mobile is 128 GB

Q. Let's say the store wants to save the information on the billing status of the above phone in a boolean variable.

In [ ]:
# a special type of variable stores just True/False values.
# create a boolean variable 'is_billed' to save the billing information

is_billed = True
print(is_billed)

True

In [ ]:
False

False

The value that we store in a variable can be number or a set of characters or a boolean variable (True/False). Whenever, we store a value in a variable, python automatically assigns a data type to that varaible based on the value.

Q. Check the data type using type function

In [ ]:
type(price)

int

In [ ]:
type(brand)

str

In [ ]:
type(ram)

int

In [ ]:
type(storage)

int

Q. Let's say a customer buys two Apple iPhones (4 GB, 128 GB)at a price of $900 each. What will be the total bill that the customer has to pay?

In [ ]:
# Calculate the total bill and store it in variable 'bill'
bill = price + price
# Alternatively
bill = price*2
print("The bill amount is $", bill, sep="")

The bill amount is $1800

Q. Let's say the store provides a discount of 15 dollar on the Apple iPhone (4GB and 128GB) that costs $900. What will be the price of iPhone after the discount?

In [ ]:
# store the price of the mobile in variable 'price'
price = 900
# store the discount amount in variable 'discount'
discount = 15
# calculate the discounted price
price_after_discount = 900-15
print("price of the iPhone after the discount is $", price_after_discount, sep="")

price of the iPhone after the discount is $885

Q. Let's say a customer buys two Apply iPhones and pays a total bill of $1800. Write the Python code to find the price of an Apple iPhone

In [ ]:
# Store the bill of two Apple iPhone in variable 'bill'
bill = 1800
# calculate the price of one mobile phone
price = bill / 2
print("The price of an Apple iPhone is $", price, sep="")

The price of an Apple iPhone is $900.0

Q. Let's say a customer buys x number of Apple iPhones for $900 each. The total bill that the customer pays is 3600 dollar. Write the Python code to find the value x

In [ ]:
# store the bill of the mobile in variable 'bill'
bill = 3600
# store the price of the mobile in varaible 'price'
price = 900
# calculate the number of iPhones that the customer buys
x = bill // price
# double divided forces the answer to be an Ineger!
print("The customer buys", x, "Apple iPhones")

The customer buys 4 Apple iPhones

Q. Suppose the store plans to provide a 4.5% discount on the Apple iPhone. What will be the discounted price of the mobile?

Type conversion: The process of converting one data type to another data type is called type conversion.

In Python, we can perform two types of type conversion.

  1. Implicit Type conversion - Here Python automatically converts one data type to another in order to avoid data loss.
  2. Explicit Type conversion - Here, the user can convert the data type of a variable to the required data type by using the in-built functions int(), float(), str() etc.

In [ ]:
# store the price of the mobile in varaible 'price'
price = 900
# calculate the discount amount
discount = price * 0.045
# Calculate the discounted price
dicounted_price = price - discount
print("The discounted price of the iPhone is $", str(dicounted_price), sep="")

The discounted price of the iPhone is $859.5

In [ ]:
type(dicounted_price)

float

In [ ]:
type(price)

int

In [ ]:
type(discount)

float

In [ ]:
print(brand + " " + str(ram) + "GB")

Apple 4GB

In [ ]:
Brand = "Apple"
print(Brand)

Apple

We know how to create a variable to store the Brand name

### List

MobiWorld store has provided a snapshot of the details of mobile phones sold by them.

![image.png]()

Let's create a variable that will store all the brand names given in the above table. This can be achive using the 'list' data structure

In [ ]:
# create a list
brand_list = ["Apple", "Samsung", "LG", "Apple"]
brand_list

['Apple', 'Samsung', 'LG', 'Apple']

In [ ]:
type(brand_list)

list

Let's create a list for other attributes as well

In [ ]:
ram_list = [4, 12, 8, 8]
storage_list = [128, 128, 64, 128]
price_list = [900, 899, 600, 1000]

In [ ]:
# Let's print the list that we have created

print("Ram List:", ram_list)
print("Storage List:", storage_list)
print("Price List:", price_list)

Ram List: [4, 12, 8, 8]
Storage List: [128, 128, 64, 128]
Price List: [900, 899, 600, 1000]

In [ ]:
# How many records are stored in the brand_list
len(brand_list)

4

In [ ]:
print(brand_list)

['Apple', 'Samsung', 'LG', 'Apple']

Q. Find the minimum and maximum price among the mobile phones sold by the store.



*   min() and max() are in-built functions in Python that calculates the minimum and maximum values among the items in the list

In [ ]:
# minimum price
min_price = min(price_list)
print("The minimum price is $" + str(min_price))

# maximum price
max_price = max(price_list)
print("The maximum price is $" + str(max_price))

The minimum price is $600
The maximum price is $1000

Q. Print the third item in the list ram_list.

In [ ]:
print(ram_list)

[4, 12, 8, 8]

In [ ]:
# indexing to get third item in the ram_list
print(ram_list[2])

8

Q. Print the first three items from the list price_list



*   We can also select a range of indices to access more than 1 item.

In [ ]:
# first three item in the price list
print(price_list[0:3])

[900, 899, 600]

In [ ]:
print(price_list)

[900, 899, 600, 1000]

Q. Print the last item in the list brand_list.



*   The item can also be accessed using indexing. But, if the list is too large, counting the index for the last item may not be the best way.
Here is how the last item can be accessed for any list

In [ ]:
# last item in the brand_list
print(brand_list[-1])

Apple

In [ ]:
print(brand_list)

['Apple', 'Samsung', 'LG', 'Apple']

Q. Remove the last element from the list brand_list.



*   pop() is a list method that removes the item at the given index and return the removed item. If the index is not specified, by default, it removes the last element.

In [ ]:
brand_list.pop()

'Apple'

In [ ]:
brand_list

['Apple', 'Samsung', 'LG']

Last element got removed by using pop(). Now, the Store informs that the correct brand name should be 'Motorola'.

Q. Insert 'Motorola' to the list brand_list



*   The append() method adds a single item to an existing list.

In [ ]:
brand_list.append("Motorola")

In [ ]:
brand_list

['Apple', 'Samsung', 'LG', 'Motorola']

In [ ]:
brand_list[3] = "Apple"
print(brand_list)

['Apple', 'Samsung', 'LG', 'Apple']

In [ ]:
brand_list[3] = "Motorola"
print(brand_list)

['Apple', 'Samsung', 'LG', 'Motorola']

We have successfully corrected the list now

# *Tuple*

Now that we have learnt about lists, you know that data can be modified and altered in a list, making it a mutable data structure. Sometimes, you might wanto to store the data which should not be altered, for example storage. The storage in mobile phone is in terms of powers of 2, that is 32 GB, 64GB, 128 GB etc. You do not want to alter the number 32 and change it to 30

Q. Store the storage specification 32/64/128/256 as an immutable varaibles

In [ ]:
storage = (32, 64, 128, 256)
print(storage)

(32, 64, 128, 256)

In [ ]:
type(storage)

tuple

Q. Print the second item in the tuple storage

In [ ]:
print(storage[1])

64

Let's try changing the second item to 60 and see if it works



```
# This is formatted as code
```

# Dictionary

Lists are great for storing data for a single attribute. But, we might want to add more information about the items in a variable. Suppose the store wants to store the attributes brand, ram, storage, and price in a single variable.

Q. Store the attribute of an Apple iphone (4GB, 128GB) of price of $800 in a single variable

In [ ]:
# create a dictionary
attributes = {
    "Brand": "Apple",
    "RAM (in GB)": 4,
    "Storage (in GB)": 128,
    "Price (in $)": 800,
}
print(attributes)

{'Brand': 'Apple', 'RAM (in GB)': 4, 'Storage (in GB)': 128, 'Price (in $)': 800}

In [ ]:
type(attributes)

dict

Q. Extract the price from the dictionary

In [ ]:
print(attributes["Price (in $)"])

800

Q. Change the price in attributes to 900

In [ ]:
attributes["Price (in $)"] = 900
print(attributes)

{'Brand': 'Apple', 'RAM (in GB)': 4, 'Storage (in GB)': 128, 'Price (in $)': 900}

We have seen how to create a dictionary, let's store data for multiple mobile phones in it. The value in a disctionary can also be a list to store information for more than one product.

Q. Create a dictionary **products for storing the attributes of 4 different mobile phones.**

In [ ]:
# creating a dictionary for storing data.
products = {
    "Brand": brand_list,
    "RAM (in GB)": ram_list,
    "Storage (in GB)": storage_list,
    "Price (in $)": price_list,
}
print(products)

{'Brand': ['Apple', 'Samsung', 'LG', 'Motorola'], 'RAM (in GB)': [4, 12, 8, 8], 'Storage (in GB)': [128, 128, 64, 128], 'Price (in $)': [900, 899, 600, 1000]}

Using a dictionary, we have stored a lot of information in a single varaible

Q. Extract the keys and values from the dictionary products.



*   keys() and values() are methods of a dictionary to extract the lists of dictionary keys and dictionary values respectively

In [ ]:
# keys of a dictionary
keys = products.keys()
print("The keys of the dictionary are :\n", keys)
# values of a dictionary
values = products.values()
print("The values of the dictionary are :\n", values)

The keys of the dictionary are :
 dict_keys(['Brand', 'RAM (in GB)', 'Storage (in GB)', 'Price (in $)'])
The values of the dictionary are :
 dict_values([['Apple', 'Samsung', 'LG', 'Motorola'], [4, 12, 8, 8], [128, 128, 64, 128], [900, 899, 600, 1000]])

In [ ]:
products["RAM (in GB)"][1]

12